:root {
    --footer-height: 56px;
}


html, body {
    height: 100%;
}

#page-container {
    min-height: 100%;
}

#page-main {
    overflow: auto;
    padding-bottom: var(--footer-height);
}

#page-footer {
    position: relative;
    height: var(--footer-height);;
    margin-top: calc(-1 * var(--footer-height));
    clear: both;
}