[submodule "1ITF1/portfolio"]
	path = 1ITF1/portfolio
	url = https://github.com/A-Van-Gestel/1ITF1-Portfolio-Website.git
[submodule "2APPAI1/portfolio"]
	path = 2APPAI1/portfolio
	url = https://github.com/A-Van-Gestel/2APPAI1-Portfolio-Website.git
