@import url(/errorcss/bootstrap.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");

.container {
    text-align: center;
}

body {
    background-color: #f9f9f9;
    min-height: 100%;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 100px;
}

img {
    /* Responsive Images */
    max-width: 100%;
    height: auto;
}

.navbar-dark .navbar-brand {
    color: #f9f9f9;
}

footer {
    color: #f9f9f9;
    max-height: 100px;
}

footer a {
    text-decoration: underline;
}