@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");

:root {
    --footer-height: 150px;
}

@media (min-width: 391px) {
    :root {
        --footer-height: 100px;
    }
}

@media (min-width: 410px) {
    :root {
        --footer-height: 65px;
    }
}

@media (min-width: 642px) {
    :root {
        --footer-height: 56px;
    }
}

html {
    scroll-behavior: smooth;
}

.container {
    text-align: center;
}

body {
    background-color: #f9f9f9;
    position: relative;
}

img {
    /* Responsive Images */
    max-width: 100%;
    height: auto;
}

.navbar-dark .navbar-brand {
    color: #f9f9f9;
}

footer {
    color: #f9f9f9;
    max-height: var(--footer-height);
}

footer a {
    text-decoration: underline;
}

#WieBenIk img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}