/*groot scherm*/

body {
    background-color: #ccc;
    color: #000;
    background-image: url(../images/patroon.png);
}

figure {
    width: 640px;
    margin: 20px auto;
}

.allepunten {
    margin: 0px auto;
    max-width: 850px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.puntencontainer {
    width: 400px;
}